@using System.Web.UI.WebControls
@using Validator.Mvc.Models
@model AccountViewModel


<form action="/Home/Index"
      method="post">
    
    <br/>
    @Html.TextBoxFor(x => x.Name)
    
    <br/>
    @Html.TextBoxFor(x => x.Age, new
    {
        type = "number"
    })
    
    <br/>
    <input type="submit"
           value="submit"/>
    
    <br/>
    @Html.ValidationSummary()
</form>

<script src="~/Scripts/jquery-3.1.0.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.advanced.validator/jquery.advanced.validator.js"></script>

<script>
    function formSubmit(event) {
        event.preventDefault();

        $(event.target).validate();
    }
</script>